[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.6"
pillow = "*"
django-crispy-forms = "*"
django-markdownx = "*"
waitress = "*"
whitenoise = "*"
psycopg2 = "*"
dj-database-url = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
