{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Create Post - blog
{% endblock title %}

{% block main_area %}

    {% if user.is_authenticated and user == post.author %}
        
        <a href="/blog/update_post/{{ post.pk }}"><button class="btn btn-primary float-right">Edit</button></a>
        
    {% endif %}

    <form method="post" enctype="mulipart/form-data">
        {% csrf_token %}
        <table>
            {{ form | crispy }}
        </table>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
    {{ form.media }}

{% endblock main_area %}